# LambdaTest credentials (required only for cloud execution)
# Get these from: https://accounts.lambdatest.com/detail/profile
LT_USERNAME=aman45chaurasiya
LT_ACCESS_KEY=LT_lOYAoEEZga44v4fxo14XeS5rDx7b9DFRJqipd2xdd16cOj7
